* {
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #282d35;
  height: 100%;
  color: white;
  background-image: url("./Group.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 85%;
  background-size: 11.4rem;
}
.nav {
  display: flex;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
  z-index: 1;
  align-items: center;
  background-color: #21222a;
  color: #61dafb;
}

nav > h4 {
  margin: 0;
}
.nav .left {
  margin-left: auto;
  padding-right: 15px;
  color: white;
  font-weight: lighter;
}
.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.body {
  padding: 57px 27px;
}
.body > h2 {
  font-weight: 700;
  font-size: 40px;
}
.body > ul {
  padding-block: 50px;
}
.body > ul > li {
  padding-block: 10px;
}
.body > ul > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
.header {
  font-weight: 706;
}
.backgroundLogo {
  margin-left: auto;
  display: block;
}
